<app-header [showGoBackButton]="true"></app-header>

<div class="container">
  <div class="card">
    <div class="chart-box">
      <canvas baseChart [data]="pieChartData" [labels]="pieChartLabels" [chartType]="pieChartType"
        [options]="pieChartOptions" [colors]="pieChartColors" [legend]="pieChartLegend">
      </canvas>
    </div>

    <div class="details-box">
      <app-searchbar [initialDate]="country.Date" (submitFn)="getCountryStatisticsByDate($event)"
        (refreshFn)="getCountryStatisticsByDate($event)">
      </app-searchbar>

      <h1>{{country.Country}}</h1>

      <h4>Total de infectados: <strong>{{country.Confirmed | number}}</strong></h4>
      <h4>Total de curados: <strong>{{country.Recovered | number}}</strong></h4>
      <h4>Total de mortes: <strong>{{country.Deaths | number}}</strong></h4>
    </div>
  </div>
</div>
