<app-header [showGoBackButton]="true"></app-header>

<div class="container">
  <div class="card">
    <div class="chart-box">
      <canvas baseChart [data]="this.pieChartData" [labels]="pieChartLabels" [chartType]="this.pieChartType"
        [options]="this.pieChartOptions" [colors]="this.pieChartColors" [legend]="this.pieChartLegend">
      </canvas>
    </div>

    <div class="details-box">
      <div class="form-group">
        <label for="countrySlug">Country</label>
        <select name="countrySlug" id="countrySlug" [(ngModel)]="this.country.Slug">
          <option [value]="null" disabled>Select a country</option>
          <option *ngFor="let country of this.countries" [value]="country.Slug">
            {{country.Country}}
          </option>
        </select>
      </div>

      <app-searchbar [initialDate]="this.country.Date" (submitFn)="this.getCountryStatisticsByDate($event)"
        (refreshFn)="this.getCountryStatisticsByDate($event)">
      </app-searchbar>

      <h1>{{this.country.Country}}</h1>

      <h4>Confirmed: <strong>{{this.country.Confirmed | number}}</strong></h4>
      <h4>Recovered: <strong>{{this.country.Recovered | number}}</strong></h4>
      <h4>Deaths: <strong>{{this.country.Deaths | number}}</strong></h4>
    </div>
  </div>
</div>
