<div class="search-box">
  <form [formGroup]="this.searchForm" (submit)="this.handleSubmitSearchForm()">
    <label for="date" class="label-description">Data: </label>
    <input type="date" id="date" name="date" formControlName="date">
    <button type="submit">
      <fa-icon [icon]="this.faSearch"></fa-icon>
    </button>
  </form>

  <button type="button" (click)="this.handleSubmitSearchForm()">
    <fa-icon [icon]="this.faRedo"></fa-icon>
    <span class="button-title">Atualizar</span>
  </button>
</div>
