<div class="search-box">
  <form [formGroup]="this.searchForm" (submit)="this.handleSubmitSearchForm()">
    <div class="form-group">
      <label for="date" class="label-description">Date </label>

      <div class="input-group">
        <input type="date" id="date" name="date" formControlName="date" [class.input-error]="this.date.invalid">

        <button type="submit">
          <fa-icon [icon]="this.faSearch"></fa-icon>
        </button>
      </div>
    </div>
  </form>

  <button type="button" (click)="this.handleSubmitSearchForm()">
    <fa-icon [icon]="this.faRedo"></fa-icon>
    <span class="button-title">Refresh</span>
  </button>
</div>
