div.search-box {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;

  width: 100%;
  height: 65px;
  padding: 0 6px;

  form {
    display: inline-block;

    label {
      font-size: 15px;
      font-weight: 500;
      margin-right: 10px;
      color: #363F5F;
    }

    input {
      height: 34px;
      margin-right: 8px;

      border-radius: 5px;
      padding: 0 12px;
      background: #FFFFFF;
      border: 0.3px solid #CCCCCC;

      font-size: 15px;
      font-weight: 400;
      color: #969CB2;
    }

    button {
      height: 34px;
      width: 42px;
      border-radius: 5px;
      border: 0;
      background: #2C1D7C;

      font-size: 15px;
      font-weight: 400;
      color: #fff;
    }
  }

  button {
    height: 34px;
    min-width: 42px;
    padding: 0 10px;
    border-radius: 5px;
    border: 0;
    background: #DDD9F4;

    font-size: 15px;
    font-weight: 400;
    color: #2C1D7C;

    span { margin-left: 5px }
  }
}

@media (max-width: 1120px) {
  .container { padding: 0 20px }
}

@media (max-width: 540px) {
  .button-title, .label-description { display: none }
}
