header {
  display: flex;
  justify-content: center;

  width: 100vw;
  padding: 20px;
  background: #2C1D7C;

  div.container {
    h1 {
      margin-left: 20px;
      font-size: 22px;
      font-weight: 600;
      color: #fff;
    }

    @media (max-width: 540px) {
      h1 { font-size: 20px }
    }
  }
}
