<app-header></app-header>

<app-searchbar></app-searchbar>

<div class="container">
  <table>
    <thead>
      <tr>
        <th>País</th>
        <th>Infectados</th>
        <th>Curados</th>
        <th>Óbitos</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let country of countries">
        <td>{{country.Country}}</td>
        <td>{{country.TotalConfirmed}}</td>
        <td>{{country.TotalRecovered}}</td>
        <td>{{country.TotalDeaths}}</td>
      </tr>
    </tbody>
  </table>

  <h3 class="list-title">Listagem</h3>

  <div class="card" *ngFor="let country of countries">
    <h4>{{country.Country}}</h4>

    <strong>{{country.TotalConfirmed}} <span>Infectados</span></strong>
    <strong>{{country.TotalRecovered}} <span>Curados</span></strong>
    <strong>{{country.TotalDeaths}} <span>Óbitos</span></strong>
  </div>
</div>
