<app-header [height]="190"></app-header>

<div class="container list-cards">
  <div class="card" [style.color]="this.confirmedColor">
    <h4>Confirmed</h4>
    <h6>{{this.totalStatistics?.TotalConfirmed || 0 | number}}</h6>
  </div>
  <div class="card" [style.color]="this.recoveredColor">
    <h4>Recovered</h4>
    <h6>{{this.totalStatistics?.TotalRecovered || 0 | number}}</h6>
  </div>
  <div class="card" [style.color]="this.deathsColor">
    <h4>Deaths</h4>
    <h6>{{this.totalStatistics?.TotalDeaths || 0 | number}}</h6>
  </div>
</div>

<div class="container">
  <app-searchbar (submitFn)="this.getCountriesStatisticsByDate($event)" (refreshFn)="this.getCountriesStatisticsByDate($event)">
  </app-searchbar>

  <table>
    <thead>
      <tr>
        <th>Country</th>
        <th>Confirmed</th>
        <th>Recovered</th>
        <th>Deaths</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let country of this.countries" (click)="this.handleGoToDetails(country)">
        <td>{{this.country.Country}}</td>
        <td>{{this.country.Confirmed | number}}</td>
        <td>{{this.country.Recovered | number}}</td>
        <td>{{this.country.Deaths | number}}</td>
      </tr>
    </tbody>
  </table>

  <h3 class="list-title">Listing</h3>

  <div class="card" *ngFor="let country of this.countries" (click)="this.handleGoToDetails(country)">
    <h4>{{this.country.Country}}</h4>
    <strong>{{this.country.Confirmed | number}} <span>Infectados</span></strong>
    <strong>{{this.country.Recovered | number}} <span>Curados</span></strong>
    <strong>{{this.country.Deaths | number}} <span>Óbitos</span></strong>
  </div>
</div>
