<app-header [height]="190"></app-header>

<div class="container list-cards">
  <div class="card" [style.color]="confirmedColor">
    <h4>Infectados</h4>
    <h6>{{globalStatistics?.TotalConfirmed || 0 | number}}</h6>
  </div>
  <div class="card" [style.color]="recoveredColor">
    <h4>Curados</h4>
    <h6>{{globalStatistics?.TotalRecovered || 0 | number}}</h6>
  </div>
  <div class="card" [style.color]="deathsColor">
    <h4>Óbitos</h4>
    <h6>{{globalStatistics?.TotalDeaths || 0 | number}}</h6>
  </div>
</div>

<div class="container">
  <app-searchbar (submitFn)="getCountriesStatisticsByDate($event)" (refreshFn)="getCountriesStatisticsByDate($event)">
  </app-searchbar>

  <table>
    <thead>
      <tr>
        <th>País</th>
        <th>Infectados</th>
        <th>Curados</th>
        <th>Óbitos</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let country of countries" (click)="handleGoToDetails(country)">
        <td>{{country.Country}}</td>
        <td>{{country.Confirmed | number}}</td>
        <td>{{country.Recovered | number}}</td>
        <td>{{country.Deaths | number}}</td>
      </tr>
    </tbody>
  </table>

  <h3 class="list-title">Listagem</h3>

  <div class="card" *ngFor="let country of countries" (click)="handleGoToDetails(country)">
    <h4>{{country.Country}}</h4>
    <strong>{{country.Confirmed | number}} <span>Infectados</span></strong>
    <strong>{{country.Recovered | number}} <span>Curados</span></strong>
    <strong>{{country.Deaths | number}} <span>Óbitos</span></strong>
  </div>
</div>
