div.list-cards {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  overflow-x: auto;

  padding: 0 20px;
  margin-top: -90px;

  &::-webkit-scrollbar {
    display: none;
  }

  div.card {
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 290px;
    height: 135px;
    border-radius: 10px;

    background: #FFFFFF;
    box-shadow: 2px 4px 6px rgba(204, 204, 204, 0.25);

    h4 {
      color: #969CB2;
      font-size: 20px;
      line-height: 30px;
      font-weight: 400;
    }

    h6 {
      font-weight: 500;
      font-size: 36px;
      line-height: 54px;
    }

    & + div.card { margin-left: 10px }
  }
}

table {
  border-collapse: separate;
  border-spacing: 0 0.5em;

  width: 100%;
  margin-top: 30px;
  color: #333;
}

thead {
  font-size: 16px;
  text-align: left;
  font-weight: 500;
  color: #969CB2;

  th {
    padding: 0 12px;
  }
}

tbody {
  border-collapse: separate;
  border-spacing: 0 1em;

  tr {
    height: 64px;
    color: #969CB2;
    background: #fff;

    cursor: pointer;
    transition: background-color 0.2s;

    &:hover {
      background: #f8f7ff;
    }

    td {
      font-size: 16px;
      padding: 0 12px;
    }

    td:first-child {
      border-radius: 5px 0 0 5px;

      color: #363F5F;
    }

    td:last-child {
      border-radius: 0 5px 5px 0;
    }
  }
}

h3.list-title { display: none }
div.card { display: none }

@media (max-width: 1120px) {
  .container { padding: 0 20px }
}

@media (max-width: 540px) {
  table { display: none }

  h3.list-title {
    display: block;

    font-size: 18px;
    font-weight: 500;
    color: #969CB2;
    margin: 30px 0 12px 0;
  }

  div.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;

    padding: 16px 20px;
    width: 100%;
    height: 169px;
    border-radius: 5px;
    background: #fff;

    margin-bottom: 10px;

    h4 {
      font-size: 17px;
      font-weight: 600;
      color: #363F5F;
    }

    strong {
      font-size: 20px;
      font-weight: 500;
      color: #969CB2;

      span {
        font-size: 15px;
        font-weight: normal;
        font-style: italic;

        margin-left: 8px;
      }
    }
  }
}
